@use "../utilities/variables";
@use "../utilities/mixins";
/*
  Medidas utilizadas para el diseño responsive:
    375px --> base
    576px --> small
    768px -->medium
    992px -->large
    1200px -->extra large
*/

@media screen and (min-width: 576px) {

  .section {
    &__content {
      width: 100%;
      position: relative;
      z-index: 2;

      &__title {
        @include mixins.title__text(2.4rem);
        font-weight: 700;

        &--small {
          font-size: 1.1rem;
        }
      }

      &__subTitle {
        @include mixins.title__text(2rem);
      }

      &__gradient {
        width: 100%;
        height: 689px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00540540540540535) 37%, rgba(18, 47, 46, 0.9891891891891892) 100%);
        position: absolute;
        z-index: 3;
      }

      &__img {
        height: 689px;
      }

      &__input .section__content__codeArea {
        left: 7rem;
      }

      &__input__phone {
        padding-left: 9rem;
      }
    }

    &__wrapper {
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      position: absolute;
      top: 10rem;
      left: 0;
      z-index: 4;

      &__text {
        align-self: flex-end;
      }
    }
  }

  .sectionTwo {
    &__wrapper {

      &__header {
        margin-bottom: 2rem;

        &__background {
          background-color: variables.$capacitarte--white;
        }
      }

      &__slider {
        &__content {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;

          &__card {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__body {

        &__title {
          @include mixins.title__text(1.8rem);
        }

        &__icons {
          width: 100%;
          margin: 2rem auto 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem 0;

          i {
            @include mixins.title__text(2rem);
          }
        }

        &__content {
          grid-column: 1/-1;
          width: 50%;
          margin: 0 auto
        }
      }
    }
  }

  .sectionThree {
    &__wrapper {
      margin: 1rem 0;
    }

    &__content {

      &__title {
        margin-bottom: 2.5rem;
      }

      &__btn {
        display: block;
      }

      &__testimonials {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;

        &__person {
          &--grid {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            justify-self: center;
            width: 50%;
          }

          &--gridBtn {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            justify-self: center;
            width: 50%;
          }
        }

        &__more {
          display: none;
        }
      }
    }
  }

  .sectionFour {

    &__content {
      width: 100%;
      margin: 0.5rem 0;

      &__title {
        margin-bottom: 2.5rem;
      }

      &__slide {
        width: 100%;
        flex-direction: column;
      }

      &__btn {
        margin-top: 1rem;

        &__submit {
          margin: 0;
        }
      }

      &__final {
        margin-top: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    &__content {
      &__form {
        max-width: 400px;
      }
    }
  }

  .sectionTwo {
    &__wrapper {
      &__content {
        &__title {
          @include mixins.title__text(2.1rem);
        }

        &__paragraph {
          @include mixins.title__text(1.1rem);
        }
      }

      &__body {
        &__title {
          @include mixins.title__text(2.1rem);
        }
      }
    }
  }

  .sectionThree {
    &__content {
      &__title {
        @include mixins.title__text(2.1rem);
      }
    }
  }

  .sectionFour {

    &__content {

      &__title {
        @include mixins.title__text(2.1rem);
      }

      &__slide {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      &__final {
        display: flex;
        justify-content: space-between;
      }

      &__text,
      &__btn {
        width: 45%;
      }
    }
  }

  .successMessage {

    &__content {
      
      &__title {
        font-size: 2.5rem;
      }

      &__paragraph {
        font-size: 1.1rem;
        text-align: center;
      }

      &__strong {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .header {
    &__nav {
      &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;

        &__item {
          margin: 0 1rem 0 2rem;
          @include mixins.title__text(0.8rem);
          position: relative;

          a {
            color: variables.$capacitarte--gray-700;
          }

          &__down {
            @include mixins.btn__arrow__menu();
          }

          &__menu {
            
            width: 15rem;
            padding: 2rem 0 0;
            position: absolute;
            top: -30rem;
            z-index: 50;
            background-color: variables.$capacitarte--white;
            transition: all 0.5s ease-in-out ;
            
            &--item {
              padding: 1rem 0 1rem 2rem;
              cursor: pointer;
            }
          }
          
          &--menu:hover .header__nav__list__item__menu {
            transition: all 0.5s ease-in-out ;
            top: 1.4rem;
            
            &--item:hover {
              background-color: variables.$capacitarte--gray-200;
              transition: all 0.2s ease-in-out ;
            }
          }
        }
      }

      &__icon--bars {
        display: none;
      }

      &__phone {
        span {
          display: block;
          margin-right: 0.5rem;
        }

        display: flex;
        align-items: center;
      }
    }

    &__menu__responsive {
      display: none;
    }
  }

  .section {
    &__wrapper {
      left: 0;
    }

    &__content {
      &__subTitle {
        @include mixins.title__text(2rem);
      }
    }
  }

  .sectionTwo {
    &__wrapper {
      &__slider {
        &__content {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  .sectionThree {

    &__content {
      &__testimonials {
        &__paragraph {
          @include mixins.title__text(0.9rem);
        }
      }
    }
  }
}

@media screen and (min-width:1200px) {

  .header {
    max-width: 1200px;
    margin: 0 auto;

    &__nav {
      padding: 1.5rem 1rem;

      &__list {
        &__item {
          @include mixins.title__text(1rem);
        }
      }
    }
  }

  .section {
    &__wrapper {
      max-width: 1200px;
      width: 65%;
      left: 50%;
      transform: translate(-50%);

      &__text {
        line-height: 1.3;
      }
    }

    &__content {
      &__title {
        @include mixins.title__text(3rem);

        &--small {
          @include mixins.title__text(1.1rem);
        }
      }

      &__subTitle {
        line-height: normal;
        @include mixins.title__text(2.5rem);
      }
    }
  }

  .sectionTwo {
    &__wrapper {

      &__content {
        margin: 2rem;
      }

      &__header {
        &__background {
          max-width: 1200px;
          margin: 0 auto;
        }
      }

      &__body {

        &__title {
          @include mixins.title__text(2.4rem);
        }

        &__background {
          max-width: 1200px;
          margin: 0 auto;
        }

        &__icons {
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem 1rem;

          i {
            @include mixins.title__text(2.5rem);
          }
        }

        &__content {
          grid-column: 2 / 3;
          width: 100%;
        }
      }
    }
  }

  .sectionThree {
    max-width: 1200px;
    margin: 0 auto;

    &__content {

      &__testimonials {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;

        &__person {
          &--grid {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            width: 100%;
          }

          &--gridBtn {
            grid-column: 2 / 3;
            width: 100%;
          }
        }

        &__btn {
          grid-column: 1 / -1;
          grid-row: 2 / 3;
          width: 50%;
          justify-self: center;
        }
      }
    }
  }

  .sectionFour {

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 3rem;
    }

    &__content {

      &__title {
        margin: 0 0 2rem;
      }

      &__slide {
        grid-template-columns: repeat(4, 1fr);
      }

      &__final {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 2rem;
        justify-content: space-evenly;
      }

      &__text {
        text-align: center;
      }

      &__btn {
        width: 30%;
      }

      &__background {
        padding: 3rem 1rem;
      }
    }
  }

  .successMessage {

    &__content {
      max-width: 1000px;
      margin: 0 auto;
      
      &__title {
        font-size: 3rem;
      }

      &__icon i {
        font-size: 2.5rem;
      }

      &__paragraph {
        font-size: 1.3rem;
      }

      &__strong {
        font-size: 1.5rem;
      }

      &__span {
        font-size: 2.4rem;
      }
    }
  }
}