@use "../../../utilities/variables";

.header {
  background-color: variables.$capacitarte--white;

  &__nav {
    position: relative;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    &__btn {
      background: transparent;
      outline: none;
      border: none;

      i {
        font-size: 2rem;
      }

      &--close {
        display: none;
      }
    }

    &__img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    &__list,
    &__phone {
      display: none;
    }
  }
}