@use "../../../utilities/variables";
@use "../../../utilities/mixins";

.sectionThree {

  &__wrapper {
    padding: 2rem 1rem;
  }

  &__content {

    &__title {
      @include mixins.title__text(1.5rem);
      text-align: center;
      color: variables.$capacitarte--gray-700;
      margin-bottom: 1rem;
    }

    &__fixed {
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__btn {
      grid-column: 1 / -1;

      &__submit {
        @include mixins.button__submit();
      }

      display: none;
    }

    &__testimonials {
      width: 400%;
      display: flex;
      gap: 1rem;
      padding: 0 0 1.5rem;

      &__img {
        display: block;
        width: 100%;
        height: 11rem;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &__person {
        width: 100%;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow: 0 7px 4px 3px rgba(0, 0, 0, .3);

        &:last-child {
          box-shadow: none;
        }
      }

      &__data {
        padding: 0 1rem 1.5rem;
      }

      &__country {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;
      }

      &__name {
        font-weight: bold;
        color: variables.$capacitarte--gray-700;
      }

      &__paragraph {
        @include mixins.title__text(0.8rem);
        line-height: 1.4;
        color: variables.$capacitarte--gray-500;
      }

      &__flag {
        &__img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          display: block;
          object-fit: cover;
        }
      }

      &__more {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__btn {
          text-align: center;
          line-height: 50px;
          color: #000;
          width: 50px;
          height: 50px;
          margin-bottom: 0.5rem;
          border-radius: 50%;
          outline: none;
          border: none;
          background: transparent;
          box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, .3);

          i {
            font-size: 2rem;
          }
        }
      }
    }
  }
}