@use  "../../../utilities/variables";
.section {
  &__wrapper {
    background-color: variables.$capacitarte--gray-700;
    padding-bottom: 1.5rem;
    color: #fff;
  }

  &__content__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__content {

    &__title {
      font-size: 1.8rem;
      font-weight: 500;

      &--small {
        font-size: 1.1rem;
        font-weight: 700;
        color: variables.$capacitarte--gray-700;
      }
    }

    &__subTitle {
      font-size: 1.8rem;
      
      span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-color: variables.$capacitarte--primary;
        padding: 0 0.5rem;
      }
    }

    &__paragraph {
      font-size: 1.1rem;
      margin: 1rem 0 2rem;

      &--small {
        font-size: 0.95rem;
        margin: 0.5rem 0 2rem;
        color: variables.$capacitarte--gray-700;
      }
    }

    &__form {
      background-color: variables.$capacitarte--white;
      text-align: center;
      color: variables.$capacitarte--gray-400;
      padding: 1.5rem 0.8rem 1rem;
      border-radius: 0.5rem;
    }

    &__input {
      margin-bottom: 0.8rem;
      position: relative;
    }

    &__input input[type="text"],
    &__input input[type="email"],
    &__input select {
      width: 100%;
      height: 2.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: 1px solid variables.$capacitarte--gray-400;
    }
    
    &__input #pais {
      width: 25%;
      height: 100%;
      border-radius: 0.5rem 0 0 0.5rem;
      border: 1px solid variables.$capacitarte--gray-400;
      position: absolute;
      z-index: 10;
    }

    &__input .section__content__codeArea {
      position: absolute;
      left: 6rem;
      line-height: 2.5rem;
    }

    &__input__phone {
      padding-left: 8rem;
    }

    &__btn {
      margin: 0.8rem;

      &__submit {
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        outline: none;
        border: none;
        color: variables.$capacitarte--white;
        background-color: variables.$capacitarte--primary;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1.5rem;
        cursor: pointer;
      }
    }

    &__span {
      font-size: 0.75rem;
      text-align: left;
      color: variables.$capacitarte--gray-700;
    }

    &__placeholder {
      color: variables.$capacitarte--gray-400;
      position: absolute;
      left: 1rem; 
      top: 0.6rem;
    }

  }

  &__wrapper__form {
    padding: 0 1rem;
  }
}