@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__nav__icon {
  font-size: 2rem;
}
.header__nav__icon--isologo {
  color: red;
}

.header__nav {
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
}
.header__nav__btn {
  background: transparent;
  outline: none;
  border: none;
}
.header__nav__btn i {
  font-size: 2rem;
}
.header__nav__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.header__nav__list, .header__nav__phone {
  display: none;
}

.section__wrapper {
  background-color: #1b2631;
  padding: 0 1rem 1.5rem;
  color: #fff;
}
.section__content {
  position: relative;
}
.section__content__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.section__content__title {
  font-size: 1.8rem;
  font-weight: 500;
}
.section__content__title--small {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1b2631;
}
.section__content__subTitle {
  font-size: 1.8rem;
}
.section__content__subTitle span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #db0f3c;
  padding: 0 0.5rem;
}
.section__content__paragraph {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}
.section__content__paragraph--small {
  font-size: 0.95rem;
  margin: 0.5rem 0 2rem;
  color: #1b2631;
}
.section__content__form {
  background-color: #fff;
  text-align: center;
  color: #767d83;
  padding: 1.5rem 0.8rem 1rem;
  border-radius: 0.5rem;
}
.section__content__input {
  margin-bottom: 0.8rem;
}
.section__content__input input[type=text], .section__content__input input[type=email], .section__content__input select {
  width: 100%;
  padding-left: 1rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #767d83;
}
.section__content__input #pais {
  max-width: 40%;
  width: 6.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #767d83;
  position: absolute;
  z-index: 10;
}
.section__content__input__phone#phone {
  position: relative;
  padding-left: 7rem;
}
.section__content__btn {
  margin-bottom: 0.8rem;
}
.section__content__btn__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #db0f3c;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  cursor: pointer;
}
.section__content__span {
  font-size: 0.75rem;
  text-align: left;
  color: #1b2631;
}
.section__content__placeholder {
  color: #767d83;
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}
.section__wrapper__form {
  padding: 0 1rem;
}

.sectionTwo__wrapper__header {
  background-color: #fff;
}
.sectionTwo__wrapper__content {
  padding: 2rem 1rem 0;
  text-align: center;
}
.sectionTwo__wrapper__content__title {
  font-size: 1.5rem;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionTwo__wrapper__content__paragraph {
  font-size: 0.95rem;
  color: #1b2631;
  margin-bottom: 1.5rem;
}
.sectionTwo__wrapper__slider {
  padding: 0 0 2rem;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.sectionTwo__wrapper__slider::-webkit-scrollbar {
  display: none;
}
.sectionTwo__wrapper__slider__content {
  width: 700%;
  margin: 0 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
}
.sectionTwo__wrapper__slider__content__card {
  width: 25%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}
.sectionTwo__wrapper__slider__content__card__img {
  width: 100%;
  height: 9rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  display: block;
  align-self: end;
}
.sectionTwo__wrapper__slider__content__card__title {
  font-size: 1.1rem;
  color: #1b2631;
  margin: 1rem;
}
.sectionTwo__wrapper__body {
  padding: 0 1rem;
  background-color: #f1f4fb;
}
.sectionTwo__wrapper__body__background {
  padding: 1rem 0 1rem;
  color: #1b2631;
}
.sectionTwo__wrapper__body__title {
  text-align: center;
  margin-top: 2rem;
}
.sectionTwo__wrapper__body__icons {
  padding: 2rem 1rem;
}
.sectionTwo__wrapper__body__icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sectionTwo__wrapper__body__text {
  font-weight: bold;
  color: #1b2631;
}
.sectionTwo__wrapper__body__content {
  grid-column: 2/3;
}
.sectionTwo__wrapper__body__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #db0f3c;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  cursor: pointer;
}

.sectionThree__wrapper {
  padding: 2rem 1rem;
}
.sectionThree__content__title {
  font-size: 1.5rem;
  text-align: center;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionThree__content__fixed {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.sectionThree__content__fixed::-webkit-scrollbar {
  display: none;
}
.sectionThree__content__btn {
  grid-column: 1/-1;
  display: none;
}
.sectionThree__content__btn__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #db0f3c;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  cursor: pointer;
}
.sectionThree__content__testimonials {
  width: 400%;
  display: flex;
  gap: 1rem;
  padding: 0 0 1.5rem;
}
.sectionThree__content__testimonials__img {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.sectionThree__content__testimonials__person {
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 7px 4px 3px rgba(0, 0, 0, 0.3);
}
.sectionThree__content__testimonials__person:last-child {
  box-shadow: none;
}
.sectionThree__content__testimonials__data {
  padding: 0 1rem 1.5rem;
}
.sectionThree__content__testimonials__country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.sectionThree__content__testimonials__name {
  font-weight: bold;
  color: #1b2631;
}
.sectionThree__content__testimonials__paragraph {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #49515a;
}
.sectionThree__content__testimonials__flag__img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.sectionThree__content__testimonials__more {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionThree__content__testimonials__more__btn {
  text-align: center;
  line-height: 50px;
  color: #000;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: transparent;
  box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.sectionThree__content__testimonials__more__btn i {
  font-size: 2rem;
}

.sectionFour__wrapper {
  padding: 1rem;
}
.sectionFour__content {
  display: inline-block;
  width: 24%;
  margin: 2rem 0;
  position: relative;
  z-index: 0;
}
.sectionFour__content__title {
  font-size: 1.3rem;
  text-align: center;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionFour__content__fixed {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.sectionFour__content__fixed::-webkit-scrollbar {
  display: none;
}
.sectionFour__content__slide {
  width: 400%;
  display: flex;
  gap: 1rem;
}
.sectionFour__content__img {
  width: 100%;
  height: 27.5rem;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
  z-index: -1;
}
.sectionFour__content__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 440px;
  color: #fff;
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.1) 0%, rgb(30, 28, 89) 100%);
}
.sectionFour__content__name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.sectionFour__content__job {
  font-size: 0.85rem;
  font-weight: 300;
}
.sectionFour__content__text {
  font-weight: 500;
  margin-top: 1rem;
}
.sectionFour__content__btn {
  display: flex;
  justify-content: center;
}
.sectionFour__content__btn__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #db0f3c;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  cursor: pointer;
}
.sectionFour__content__background {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #f1f4fb;
}

.footer {
  background-color: #1b2631;
}
.footer__wrapper {
  text-align: center;
  padding: 1.5rem 0;
}
.footer__wrapper__span {
  font-size: 0.8rem;
  color: #fff;
}

/*
  Medidas utilizadas para el diseño responsive:
    375px --> base
    576px --> small
    768px -->medium
    992px -->large
    1200px -->extra large
*/
@media screen and (min-width: 576px) {
  .section__content {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .section__content__title {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .section__content__title--small {
    font-size: 1.1rem;
  }
  .section__content__subTitle {
    font-size: 2rem;
  }
  .section__content__gradient {
    width: 100%;
    height: 689px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0054054054) 37%, rgba(18, 47, 46, 0.9891891892) 100%);
    position: absolute;
    z-index: 3;
  }
  .section__content__img {
    height: 689px;
  }
  .section__content__input .section__content__codeArea {
    left: 7rem;
  }
  .section__content__input__phone {
    padding-left: 9rem;
  }
  .section__wrapper {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    top: 10rem;
    left: 0;
    z-index: 4;
  }
  .section__wrapper__text {
    align-self: flex-end;
  }
  .sectionTwo__wrapper__header {
    margin-bottom: 2rem;
  }
  .sectionTwo__wrapper__header__background {
    background-color: #fff;
  }
  .sectionTwo__wrapper__slider__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sectionTwo__wrapper__slider__content__card {
    width: 100%;
    height: 100%;
  }
  .sectionTwo__wrapper__body__title {
    font-size: 1.8rem;
  }
  .sectionTwo__wrapper__body__icons {
    width: 100%;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
  }
  .sectionTwo__wrapper__body__icons i {
    font-size: 2rem;
  }
  .sectionTwo__wrapper__body__content {
    grid-column: 1/-1;
    width: 50%;
    margin: 0 auto;
  }
  .sectionThree__wrapper {
    margin: 1rem 0;
  }
  .sectionThree__content__title {
    margin-bottom: 2.5rem;
  }
  .sectionThree__content__btn {
    display: block;
  }
  .sectionThree__content__testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  .sectionThree__content__testimonials__person--grid {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    width: 50%;
  }
  .sectionThree__content__testimonials__person--gridBtn {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-self: center;
    width: 50%;
  }
  .sectionThree__content__testimonials__more {
    display: none;
  }
  .sectionFour__content {
    width: 100%;
    margin: 0.5rem 0;
  }
  .sectionFour__content__title {
    margin-bottom: 2.5rem;
  }
  .sectionFour__content__slide {
    width: 100%;
    flex-direction: column;
  }
  .sectionFour__content__btn {
    margin-top: 1rem;
  }
  .sectionFour__content__btn__submit {
    margin: 0;
  }
  .sectionFour__content__final {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .section__content__form {
    max-width: 400px;
  }
  .sectionTwo__wrapper__content__title {
    font-size: 2.1rem;
  }
  .sectionTwo__wrapper__content__paragraph {
    font-size: 1.1rem;
  }
  .sectionTwo__wrapper__body__title {
    font-size: 2.1rem;
  }
  .sectionThree__content__title {
    font-size: 2.1rem;
  }
  .sectionFour__content__title {
    font-size: 2.1rem;
  }
  .sectionFour__content__slide {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sectionFour__content__final {
    display: flex;
    justify-content: space-between;
  }
  .sectionFour__content__text, .sectionFour__content__btn {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .header__nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  .header__nav__list__item {
    margin: 0 1rem 0 2rem;
    font-size: 0.8rem;
    position: relative;
  }
  .header__nav__list__item a {
    color: #1b2631;
  }
  .header__nav__list__item__down {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  .header__nav__list__item__menu {
    display: none;
    width: 15rem;
    padding: 2rem 0;
    position: absolute;
    z-index: 50;
    top: 1.3rem;
    background-color: #fff;
  }
  .header__nav__list__item__menu--item {
    padding: 1rem 0 1rem 2rem;
  }
  .header__nav__list__item--menu:hover .header__nav__list__item__menu {
    display: block;
  }
  .header__nav__list__item--menu:hover .header__nav__list__item__menu--item:hover {
    background-color: #d7dfe4;
  }
  .header__nav__icon--bars {
    display: none;
  }
  .header__nav__phone {
    display: flex;
    align-items: center;
  }
  .header__nav__phone span {
    display: block;
    margin-right: 0.5rem;
  }
  .section__wrapper {
    left: 0;
  }
  .section__content__subTitle {
    font-size: 2rem;
  }
  .sectionTwo__wrapper__slider__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .sectionThree__content__testimonials__paragraph {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header__nav {
    padding: 1.5rem 1rem;
  }
  .header__nav__list__item {
    font-size: 1rem;
  }
  .section__wrapper {
    max-width: 1200px;
    width: 65%;
    left: 50%;
    transform: translate(-50%);
  }
  .section__wrapper__text {
    line-height: 1.3;
  }
  .section__content__title {
    font-size: 3rem;
  }
  .section__content__title--small {
    font-size: 1.1rem;
  }
  .section__content__subTitle {
    line-height: normal;
    font-size: 2.5rem;
  }
  .sectionTwo__wrapper__content {
    margin: 2rem;
  }
  .sectionTwo__wrapper__header__background {
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionTwo__wrapper__body__title {
    font-size: 2.4rem;
  }
  .sectionTwo__wrapper__body__background {
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionTwo__wrapper__body__icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1rem;
  }
  .sectionTwo__wrapper__body__icons i {
    font-size: 2.5rem;
  }
  .sectionTwo__wrapper__body__content {
    grid-column: 2/3;
    width: 100%;
  }
  .sectionThree {
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionThree__content__testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
  .sectionThree__content__testimonials__person--grid {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
  }
  .sectionThree__content__testimonials__person--gridBtn {
    grid-column: 2/3;
    width: 100%;
  }
  .sectionThree__content__testimonials__btn {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 50%;
    justify-self: center;
  }
  .sectionFour__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .sectionFour__content__title {
    margin: 0 0 2rem;
  }
  .sectionFour__content__slide {
    grid-template-columns: repeat(4, 1fr);
  }
  .sectionFour__content__final {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-evenly;
  }
  .sectionFour__content__text {
    text-align: center;
  }
  .sectionFour__content__btn {
    width: 30%;
  }
  .sectionFour__content__background {
    padding: 3rem 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
