@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__nav__icon {
  font-size: 2rem;
}
.header__nav__icon--isologo {
  color: red;
}

.header__nav {
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
}
.header__nav__list {
  display: none;
}

.section__wrapper {
  background-color: #1b2631;
  padding-bottom: 1.5rem;
  color: #fff;
}
.section__content__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.section__content__title {
  font-size: 1.8rem;
  font-weight: 500;
}
.section__content__title--small {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1b2631;
}
.section__content__subTitle {
  font-size: 1.8rem;
}
.section__content__subTitle span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #db0f3c;
  padding: 0 0.5rem;
}
.section__content__paragraph {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}
.section__content__paragraph--small {
  font-size: 0.95rem;
  margin: 0.5rem 0 2rem;
  color: #1b2631;
}
.section__content__form {
  background-color: #fff;
  text-align: center;
  color: #767d83;
  padding: 1.5rem 0.8rem 1rem;
  border-radius: 0.5rem;
}
.section__content__input {
  margin-bottom: 0.8rem;
  position: relative;
}
.section__content__input input[type=text], .section__content__input input[type=email], .section__content__input select {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #767d83;
}
.section__content__input #pais {
  width: 25%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #767d83;
  position: absolute;
  z-index: 10;
}
.section__content__input .section__content__codeArea {
  position: absolute;
  left: 6rem;
  line-height: 2.5rem;
}
.section__content__input__phone {
  padding-left: 8rem;
}
.section__content__btn {
  margin-bottom: 0.8rem;
}
.section__content__btn__submit {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #db0f3c;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
  cursor: pointer;
}
.section__content__span {
  font-size: 0.75rem;
  text-align: left;
  color: #1b2631;
}
.section__content__placeholder {
  color: #767d83;
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}
.section__wrapper__form {
  padding: 0 1rem;
}

.sectionTwo__wrapper {
  background-color: #f1f4fb;
}
.sectionTwo__content {
  padding: 2rem 1rem 0;
  text-align: center;
}
.sectionTwo__content__title {
  font-size: 1.5rem;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionTwo__content__paragraph {
  font-size: 0.95rem;
  color: #1b2631;
  margin-bottom: 1.5rem;
}
.sectionTwo__content__icons {
  padding: 2rem 1rem;
}
.sectionTwo__content__header {
  padding: 0 1rem;
  background-color: #fff;
}
.sectionTwo__content__icon {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sectionTwo__content__text {
  font-weight: bold;
  color: #1b2631;
}
.sectionTwo__slider {
  padding: 0 0 2rem;
}
.sectionTwo__slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}
.sectionTwo__slider__content__img {
  width: 100%;
  height: 9rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  display: block;
  align-self: end;
}
.sectionTwo__slider__content__title {
  font-size: 1.1rem;
  color: #1b2631;
  margin: 1rem;
}

.sectionThree__wrapper {
  padding: 2rem 0;
}
.sectionThree__content__title {
  font-size: 1.5rem;
  text-align: center;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionThree__content__testimonials__img {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.sectionThree__content__person {
  width: 85%;
  margin-left: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}
.sectionThree__content__data {
  padding: 0 1rem 1.5rem;
}
.sectionThree__content__country {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.sectionThree__content__name {
  font-weight: bold;
  color: #1b2631;
}
.sectionThree__content__paragraph {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #49515a;
}

.sectionFour {
  border: 1px solid red;
}
.sectionFour__wrapper {
  border: 1px solid green;
  padding: 1rem;
}
.sectionFour__content {
  position: relative;
  z-index: 0;
}
.sectionFour__content__title {
  font-size: 1.3rem;
  text-align: center;
  color: #1b2631;
  margin-bottom: 1rem;
}
.sectionFour__content__img {
  width: 95%;
  height: 27.5rem;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
  z-index: -1;
}
.sectionFour__content__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 3rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  width: 95%;
  height: 440px;
  color: #fff;
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.1) 0%, rgb(30, 28, 89) 100%);
}
.sectionFour__content__name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.sectionFour__content__job {
  font-size: 0.85rem;
  font-weight: 300;
}
.sectionFour__content__text {
  font-weight: 500;
  margin-top: 1rem;
}

.footer {
  background-color: #1b2631;
}
.footer__wrapper {
  text-align: center;
  padding: 1.5rem 0;
}
.footer__wrapper__span {
  font-size: 0.8rem;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
