@use "../../../utilities/variables";
@use "../../../utilities/mixins";

.sectionFour {
  background-color: variables.$capacitarte--white;
  &__wrapper {
    padding: 1rem;
  }

  &__content {
    display: inline-block;
    width: 24%;
    margin: 2rem 0;
    position: relative;
    z-index: 0;

    &__title {
      @include mixins.title__text(1.3rem);
      text-align: center;
      color: variables.$capacitarte--gray-700;
      margin-bottom: 1rem;
    }

    &__fixed {
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__slide {
      width: 400%;
      display: flex;
      gap: 1rem;
    }

    &__img {
      width: 100%;
      height: 27.5rem;
      display: block;
      object-fit: cover;
      border-radius: 0.5rem;
      position: relative;
      z-index: -1;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 3rem;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      width: 100%;
      height: 440px;
      color: #fff;
      background: linear-gradient(180deg, rgba(254, 254, 255, 0.1) 0%, rgba(30, 28, 89, 1) 100%);
    }

    &__name {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    &__job {
      @include mixins.title__text(0.85rem);
      font-weight: 300;
    }

    &__text {
      font-weight: 500;
      margin-top: 1rem;
    }

    &__btn {
      display: flex;
      justify-content: center;

      &__submit {
        @include mixins.button__submit();
      }
    }

    &__background {
      width: 100%;
      padding: 2rem 1rem;
      background-color: variables.$capacitarte--gray-100;
    }
  }
}