
$capacitarte--primary: #db0f3c;
$capacitarte--primary-light: #fc1244;
$capacitarte--primary-dark: #c20e35;
$capacitarte--secondary: #111457;
$capacitarte--secondary-light: #2127a3;
$capacitarte--secondary-dark: #0c0f3d;
$capacitarte--gray-100: #f1f4fb;
$capacitarte--gray-200: #d7dfe4;
$capacitarte--gray-300: #98afbc;
$capacitarte--gray-400: #767d83;
$capacitarte--gray-500: #49515a;
$capacitarte--gray-600: #2e4053;
$capacitarte--gray-700: #1b2631;
$capacitarte--success: #099451;
$capacitarte--warning: #feb000;
$capacitarte--danger: #bd0d33;
$capacitarte--white: #fff;